<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>round</title>
</head>
<body>
    <h3 th:text="${league.getLeagueName()}"></h3>
    <h3 th:text="${league.getSeason()}"></h3>
    <h3 th:text="${round.getRoundNumber()}"></h3>
<!--    <h3 th:text="${round.getLeague().getLeagueName()}"></h3>-->
    <h3 th:text="${match.getHomeTeam()}"></h3>
    <h3 th:text="${match.getAwayTeam()}"></h3>
<!--    <h3 th:text="${match.getRound().getRoundNumber()}"></h3>-->
<!--    <h3 th:text="${match.getRound().getLeague().getLeagueName()}"></h3>-->
<!--    <h3 th:text="${match.getRound().getLeague().getSeason()}"></h3>-->

</body>
</html>