<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>round</title>
</head>
<body>


    <div class="row link" th:each="match : ${matches}">
<!--        <div class="col-1">-->
<!--            <div><a href="#" class="upvote" th:data-id="${match.id}"><i class="fas fa-arrow-up"></i></a></div>-->
<!--            <div><span th:id="|votecount-${match.id}|" class="votecount" th:text="${match.getRound().getRoundNumber()}">0</span></div>-->
<!--        </div>-->

        <p>Kolejka nr : <span th:text="${match.getRound().getRoundNumber()}"></span></p>
        <div class="col-11">
            <p class="title"></p>
            <p><b>Mecz nr :</b> <span th:text="${match.getId()} + ' ' + ${match.getHomeTeam()} + ' vs ' + ${match.getAwayTeam()}"/>
                <a class="title " th:href="@{'/round/' + ${match.id}}">
                    Statystyki</a>
            </p>



        </div>
    </div>


</body>
</html>