<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/AdministrationLayout :: head(title = 'Zespol')"/>

<body>

<nav th:replace="layouts/AdministrationLayout :: navbar"/>


<div class="container col-md-3" id="teamInfo">

    <table class="table table-hover">

        <thead>
            <tr>
                <th>Zespół: </th>
                <td th:text="${selectedTeam.teamName}"/>
            </tr>
        </thead>

        <tbody>
            <tr>

            </tr>
            <tr>
                <th>I Trener: </th>
                <td th:text="${selectedTeam.firstCoach}"/>
            </tr>
            <tr>
                <th>II Trener: </th>
                <td th:text="${selectedTeam.secondCoach}"/>
            </tr>

        </tbody>
    </table>

</div>

<div class="container" id="selectedteamTable">

    <table class="table table-hover tableData" >

        <thead class="thead-light">
            <tr class="centeredText">
                <th>Nr</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Wiek</th>
                <th>Wzrost</th>
                <th>Pozycja</th>
                <th colspan="2" class="centeredText">Akcja</th>
                <th/>
                <th/>
            </tr>
        </thead>

        <tbody>
            <tr th:each="player : ${selectedTeam.playerList}">
                <form method="POST" action="/admin/deletePlayer">
                <td th:text="${player.number}"></td>
                <td th:text="${player.firstName}"></td>
                <td th:text="${player.lastName}"></td>
                <td th:text="${player.age != 0} ? ${player.age} : '' "></td>
                <td th:text="${player.height != 0} ? ${player.height} : '' "></td>
                <td th:text="${player.position}"></td>
                <td><input type="submit" value="Usuń" class="btn btn-info"/></td>
                <td><a th:href="@{'/admin/teams-admin/currentteam-admin/editplayer/' + ${player.id}}" class="btn btn-primary">Edytuj</a></td>
                <td><input th:value="${player.id}" type="text" name="playerId" style="display: none"/></td>
                <td><input th:value="${selectedTeam.id}" type="text" name="teamId" style="display: none"></td>
                </form>
            </tr>

            <tr th:object="${newPlayer}">
                <form method="POST" action="/admin/teams-admin/currentteam-admin/{id}">

                    <td><input type="text" class="form-control centeredInput" th:field="*{number}" id="playerNumberInput"></td>
                    <td><input type="text" class="form-control centeredInput" th:field="*{firstName}"></td>
                    <td><input type="text" class="form-control centeredInput" th:field="*{lastName}" ></td>
                    <td><input type="text" class="form-control centeredInput" th:field="*{age}"></td>
                    <td><input type="text" class="form-control centeredInput" th:field="*{height}"></td>
                    <td>
                        <select class="form-control" name="position">
                            <option value="">Wybierz</option>
                            <option value="Rozgrywająca">Rozgrywająca</option>
                            <option value="Przyjmująca">Przyjmująca</option>
                            <option value="Atakująca">Atakująca</option>
                            <option value="Środkowa">Środkowa</option>
                            <option value="Libero">Libero</option>
                        </select>
                    </td>
                    <td><input type="submit" value="Dodaj" class="btn btn-info"/></td>
                    <td><input th:value="${selectedTeam.id}" type="text" name="id" style="display: none"/></td>
                    <td/>
                    <td/>
                </form>

            </tr>
        </tbody>

    </table>

</div>


<footer th:replace="layouts/AdministrationLayout :: footer"/>
</body>
</html>