<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="layouts/AdministrationLayout :: head(title = 'Zespoly')"/>


<body>

<nav th:replace="layouts/AdministrationLayout :: navbar"/>

<div class="container" id="addTeam">
    <a th:href="@{'/admin/teams-admin/createteam/'} " class="btn btn-warning">Dodaj zespół</a>
</div>

<div class="container" id="teamTable">
    <table class="table table-hover tableData" >
        <thead class="thead-light">
            <tr>
                <th>Nazwa zespołu</th>
                <th>Pierwszy trener</th>
                <th>Drugi trener</th>
                <th>Strona www</th>
                <th>Facebook</th>
                <th colspan="2" class="centeredText">Akcja</th>


            </tr>
        </thead>
        <tbody>
        <tr th:each="team : ${teams}">
            <td th:text="${team.getTeamName()}"></td>
            <td th:text="${team.getFirstCoach()}"></td>
            <td th:text="${team.getSecondCoach()}"></td>
            <td>
                <a th:href="${team.getWebPage()}"><span th:text="${team.getWebPage()}"/></a>
            </td>
            <td>
                <a th:href="${team.getFacebook()}"><span th:text="${team.getFacebook()}"/></a>
            </td>
            <td>
                <a th:href="@{'/admin/teams-admin/currentteam-admin/' + ${team.getId()}}" class="btn btn-primary">Szczegóły</a>
            </td>
            <td>
                <a th:href="@{'/admin/teams-admin/currentteam-admin/editteam/' + ${team.getId()}}" class="btn btn-info">Edytuj</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>


<footer th:replace="layouts/AdministrationLayout :: footer"/>


</body>
</html>