<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/MainLayout :: head(title = 'Logowanie')"/>

<body>

<nav th:replace="layouts/MainLayout :: navbar"/>


<div align="center" class="mainBody">

    <h3 class="topText">Podaj login i hasło administratora:</h3><br/>

    <form method="POST" th:action="@{/login}"  id="loginForm">
        <div class="form-group text-center">
            <label for="UserName">login:</label>
            <input type="text" class="form-control centeredInput" id="userName" name="username" aria-describedby="emailHelp" placeholder="nazwa użytkownika">
            <br/>
        </div>
        <div class="form-group text-center">
            <label for="password">hasło:</label>
            <input type="password" class="form-control centeredInput" id="password" name="password" placeholder="hasło">
        </div>
        <div class="text-center" style="margin-top: 15px">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>

                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
    </form>
</div>

<footer th:replace="layouts/MainLayout :: footer"/>
</body>
</html>