<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/AdministrationLayout :: head(title = 'Panel administracyjny')"/>

<body>

<nav th:replace="layouts/AdministrationLayout :: navbar"/>

<div class="container" id="addMatch">
    <a th:href="@{/admin/create-article} " class="btn btn-warning">Dodaj artykul</a>
</div>


<div class="container" id="roundTable">


    <table class="table table-hover tableData">
        <thead class="thead-light">

        <tr class="centeredText">
            <th colspan="2">Data dodania</th>
            <th>Tytuł</th>
            <th colspan="4"/>


        </tr>
        </thead>
        <tbody>
        <tr th:each="news : ${newsList}">
            <td th:text="${news.createdAt}" class="centeredText"></td>
            <td/>
            <td th:text="${news.title}"></td>

            <td>
                <a th:href="@{'/admin/edit-article/' + ${news.id}} " class="btn btn-primary" id="showStats">Edytuj</a>
            </td>


            <td>
                <form method="POST" action="/admin/delete-article">
                    <td><input type="submit" value="Usuń"  class="btn btn-danger"/></td>
                    <td><input th:value="${news.id}" type="text" name="newsId" style="display: none"/></td>
                 </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>



<footer th:replace="layouts/AdministrationLayout :: footer"/>

</body>
</html>
