<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/MainLayout :: head(title = 'Kontakt')"/>

<body>

<nav th:replace="layouts/MainLayout :: navbar"/>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 align="center" class="display-8">If you need any more information</h1>
        <p align="center" class="lead">Please contact me!</p>
    </div>
</div>

<div id="contact" >
    <h3>Email:</h3>
    <p>rf.zajac@gmail.com</p>
    <h3>Phone</h3>
    <p>example: 1234565</p>
</div>



<footer th:replace="layouts/MainLayout :: footer"/>

</body>
</html>