<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/MainLayout :: head(title = 'Ranking')"/>

<body>

<nav th:replace="layouts/MainLayout :: navbar"/>

    <div class="container" id="containerForSelectRank">

        <h3><b>Sortuj listę według :</b></h3>
        <table>
            <tr>
                <th>
                    <select class="form-control" name="selectBy" id="selectForRankSort" form="sortRankTable" >
                        <option value="alphabetically">Alfabetycznie</option>
                        <option value="club">Klub</option>
                        <option value="pointsTotal">Punkty zdobyte</option>
                        <option value="serveAce">Asy serwisowe</option>
                        <option value="attackAttempt">Atak suma</option>
                        <option value="attackFinished">Atak pkt.</option>
                        <option value="attackFinishedPercent">Atak skut.%</option>
                        <option value="receptionAttempts">Przyjęcie suma</option>
                        <option value="receptionPositive">Przyjęcie poz.%</option>
                        <option value="receptrionPerfect">Przyjęcie perf.%</option>
                        <option value="blockScore">Bloki pkt.</option>
                    </select>
                </th>
                <th>
                    <form method="POST" id="sortRankTable" action="/rank">
                        <input type="submit" id="sort" style="display: none">
                        <button type="button" class="btn btn-info" onclick="$('#sort').click()">Sortuj!</button>
                    </form>
                </th>
            </tr>
        </table>

    </div>


    <div class="container" id="rankTable">

        <table class="table table-hover">

            <thead class="thead-light">
            <tr class="centeredText">
                <th>Miejsce</th>
                <th>Nazwisko</th>
                <th>imię</th>
                <th>Klub</th>
                <th>Punkty zdobyte</th>
                <th>Asy serwisowe</th>
                <th>Ataki suma</th>
                <th>Atak pkt.</th>
                <th>Atak skut.%</th>
                <th>Przyjęcie suma</th>
                <th>Przyjęcie poz.%</th>
                <th>Przyjęcie perf.%</th>
                <th>Blok pkt.</th>
            </tr>
            </thead>

            <tbody>
            <tr  th:each="player : ${allPlayers}" class="centeredText">
                <td th:text="${playerStat.count} + '.'" class="indexNumber"/>
                <td th:text="${player.lastName}" class="leftAlignedText"/>
                <td th:text="${player.firstName}" class="leftAlignedText"/>
                <td th:text="${player.team.teamName}"/>
                <td th:text="${player.playerStats.pointsTotal != 0} ? ${player.playerStats.pointsTotal} : '-'"/>
                <td th:text="${player.playerStats.serveAce!= 0} ? ${player.playerStats.serveAce} : '-'"/>
                <td th:text="${player.playerStats.attackAttempts!= 0} ? ${player.playerStats.attackAttempts} : '-'"/>
                <td th:text="${player.playerStats.attackFinished!= 0} ? ${player.playerStats.attackFinished} : '-'"/>
                <td th:text="${player.playerStats.attackFinishedPercent!= 0} ? ${player.playerStats.attackFinishedPercent + '%'} : '-'"/>
                <td th:text="${player.playerStats.receptionAttempts!= 0} ? ${player.playerStats.receptionAttempts} : '-'"/>
                <td th:text="${player.playerStats.receptionPositivePercent!= 0} ? ${player.playerStats.receptionPositivePercent + '%'} : '-'"/>
                <td th:text="${player.playerStats.receptionPerfectPercent!= 0} ? ${player.playerStats.receptionPerfectPercent + '%'} : '-'"/>
                <td th:text="${player.playerStats.blockScore!= 0} ? ${player.playerStats.blockScore} : '-'"/>
            </tr>
            </tbody>

        </table>

    </div>

<footer th:replace="layouts/MainLayout :: footer"/>

</body>
</html>