<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/MainLayout :: head(title = 'Ranking')"/>

<body>

<nav th:replace="layouts/MainLayout :: navbar"/>

    <div class="container" id="rankTable">

        <table class="table table-hover">

            <thead class="thead-light">
            <tr class="centeredText">
                <th>Nazwisko</th>
                <th>imię</th>
                <th>Klub</th>
                <th>Punkty</th>
                <th>Zagrywka</th>
                <th>Atak</th>
                <th>Przyjęcie</th>
                <th>Blok</th>
            </tr>
            </thead>

            <tbody>
            <tr  th:each="player : ${allPlayers}" class="centeredText">
                <td th:text="${player.getLastName()}"/>
                <td th:text="${player.getFirstName()}"/>
                <td th:text="${player.getTeam().getTeamName()}"/>
                <td th:text="${player.getPlayerStats().getPointsTotal() != 0} ? ${player.getPlayerStats().getPointsTotal()} : '-'"/>
                <td th:text="${player.getPlayerStats().getServeAce()!= 0} ? ${player.getPlayerStats().getServeAce()} : '-'"/>
                <td th:text="${player.getPlayerStats().getAttackFinished()!= 0} ? ${player.getPlayerStats().getAttackFinished()} : '-'"/>
                <td th:text="${player.getPlayerStats().getReceptionPerfectPercent()!= 0} ? ${player.getPlayerStats().getReceptionPerfectPercent() + '%'} : '-'"/>
                <td th:text="${player.getPlayerStats().getBlockScore()!= 0} ? ${player.getPlayerStats().getBlockScore()} : '-'"/>
            </tr>
            </tbody>

        </table>

    </div>


<footer th:replace="layouts/MainLayout :: footer"/>

</body>
</html>