<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/MainLayout :: head(title = 'Mecze')"/>

<body>

<nav th:replace="layouts/MainLayout :: navbar"/>





<div class="container" id="roundTable" th:each="round : ${rounds}">

    <h4 id="roundHeader">Kolejka nr: <span th:text="${round.getRoundNumber()}" /></h4>

    <div th:if="${message}" id="uploadMessage">
        <p th:text="${message}"/>
    </div>

    <table class="table table-hover tableData" >
       <thead class="thead-light">
           <tr class="centeredText">
               <th>Mecz nr</th>
               <th>Gospodarz</th>
               <th>Gość</th>
               <th>Statystyki</th>
               <th></th>
               <th>Scout</th>
               <th>Akcja</th>
               <th></th>
               <th></th>
           </tr>
       </thead>
        <tbody>
            <tr th:each="match : ${matches}" class="centeredText">
                <td th:text="${match.getMatchNumber()}"></td>
                <td th:text="${match.getHomeTeam()}"></td>
                <td th:text="${match.getAwayTeam()}"></td>

                <td>
                    <a th:href="@{'/round/' + ${match.id}} " class="btn btn-primary" id="showStats">Wyświetl</a>
                </td>

                <td>
                    <form method="POST" action="/round" enctype="multipart/form-data">
                        <td><input type="file" name="file" id="fileupload" class="btn btn-secondary"/></td>
                        <td><input type="submit" value="Submit" id="submitFile"  class="btn btn-info"/></td>
                        <td><input th:value="${match.getId()}" type="text" name="id" style="display: none"/></td>
                </form>
                </td>
                <td/>
            </tr>

        </tbody>
    </table>
</div>





<footer th:replace="layouts/MainLayout :: footer"/>

</body>
</html>