<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/MainLayout :: head(title = 'Mecze')"/>

<body>

<nav th:replace="layouts/MainLayout :: navbar"/>

<div class="container" id="containerForSelectRound">

    <h3 class = "mainFont"><b>Wybierz kolejkę :</b></h3>
    <table>
        <tr>
            <th>
                <select class="form-control" name="selectRound" id="selectForRoundSort" form="sortRoundTable" >
                    <option value="allRounds">Wszystkie</option>
                    <option th:each="round : ${rounds}"
                            th:text="${round.roundNumber}"
                            th:value="${round.roundNumber}">
                    </option>
                </select>
            </th>
            <th>
                <form method="POST" id="sortRoundTable" action="/round">
                    <input type="submit" id="sort" style="display: none">
                    <button type="button" class="btn btn-info" onclick="$('#sort').click()">Wybierz</button>
                </form>
            </th>
        </tr>
    </table>

</div>


<div class="container" id="roundTable" th:each="round : ${rounds}">

    <table class="table table-hover tableData">
       <thead class="thead-light">
            <tr>
                <th colspan="6" class="roundNumber"> Kolejka nr: <span th:text="${round.roundNumber}" /></th>
            </tr>
           <tr class="centeredText">
               <th>Mecz nr</th>
               <th>Gospodarz</th>
               <th>Gość</th>
               <th>Statystyki</th>
               <th>Wynik</th>
           </tr>
       </thead>
        <tbody>
            <tr th:each="game : ${round.matchList}" class="centeredText">
                <td th:text="${game.matchNumber}"></td>
                <td th:text="${game.homeTeam}"></td>
                <td th:text="${game.awayTeam}"></td>

                <td>
                    <a th:href="@{'/round/' + ${game.id}} " class="btn btn-primary" id="showStats">Wyświetl</a>
                </td>

                <td th:text="${game.gameResult.homeTeamSetsWon} + ':' + ${game.gameResult.awayTeamSetsWon}" id="inRoundResult"/>
            </tr>
        </tbody>
    </table>
</div>

<ul>
    <li>

    </li>
</ul>



<footer th:replace="layouts/MainLayout :: footer"/>

</body>
</html>