<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/MainLayout :: head(title = 'Zespol')"/>

<body>

<nav th:replace="layouts/MainLayout :: navbar"/>


<div class="container col-md-3" id="teamInfo">

    <table class="table table-hover">

        <thead>
            <tr>
                <th>Zespół: </th>
                <td th:text="${selectedTeam.getTeamName()}"/>
            </tr>
        </thead>

        <tbody>
            <tr>

            </tr>
            <tr>
                <th>I Trener: </th>
                <td th:text="${selectedTeam.getFirstCoach()}"/>
            </tr>
            <tr>
                <th>II Trener: </th>
                <td th:text="${selectedTeam.getSecondCoach()}"/>
            </tr>

        </tbody>
    </table>

</div>

<div class="container" id="selectedteamTable">

    <table class="table table-hover tableData" >

        <thead class="thead-light">
            <tr>
                <th>Nr</th>
                <th>Nazwisko</th>
                <th>Imię</th>
                <th>Wiek</th>
                <th>Wzrost</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="player : ${selectedTeam.getPlayerList()}">
                <td th:text="${player.getNumber()}"></td>
                <td th:text="${player.getLastName()}"></td>
                <td th:text="${player.getFirstName()}"></td>
                <td ></td>
                <td ></td>
            </tr>
        </tbody>

    </table>

</div>


<footer th:replace="layouts/MainLayout :: footer"/>
</body>
</html>