<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/MainLayout :: head(title = 'Zespol')"/>

<body>

<nav th:replace="layouts/MainLayout :: navbar"/>


<div class="container col-md-3" id="teamInfo">

    <table class="table table-hover">

        <thead>
            <tr>
                <th>Zespół: </th>
                <td th:text="${selectedTeam.teamName}"/>
            </tr>
        </thead>

        <tbody>
            <tr>

            </tr>
            <tr>
                <th>I Trener: </th>
                <td th:text="${selectedTeam.firstCoach}"/>
            </tr>
            <tr>
                <th>II Trener: </th>
                <td th:text="${selectedTeam.secondCoach}"/>
            </tr>

        </tbody>
    </table>

</div>

<div class="container" id="selectedteamTable">

    <table class="table table-hover tableData" >

        <thead class="thead-light">
            <tr>
                <th>Nr</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Wiek</th>
                <th>Wzrost</th>
                <th>Pozycja</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="player : ${selectedTeam.playerList}">
                <td th:text="${player.number}"></td>
                <td th:text="${player.firstName}"></td>
                <td th:text="${player.lastName}"></td>
                <td th:text="${player.age != 0} ? ${player.age} : '' "></td>
                <td th:text="${player.height != 0} ? ${player.height} : '' "></td>
                <td th:text="${player.position}"></td>
            </tr>
        </tbody>

    </table>

</div>


<footer th:replace="layouts/MainLayout :: footer"/>
</body>
</html>