<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="layouts/MainLayout :: head(title = 'Zespoly')"/>


<body>

<nav th:replace="layouts/MainLayout :: navbar"/>


<div class="container" id="teamTable">

    <h4 class="centeredText">Zespoły</h4>
    <br/><br/>
    <table class="table table-hover tableData" >
        <tr>
            <th>Nazwa zespołu</th>
            <th>Pierwszy trener</th>
            <th>Drugi trener</th>
            <th>Strona www</th>
            <th>Facebook</th>
            <th>Więcej</th>


        </tr>

        <tr th:each="team : ${teams}">
            <td th:text="${team.getTeamName()}"></td>
            <td th:text="${team.getFirstCoach()}"></td>
            <td th:text="${team.getSecondCoach()}"></td>
            <td>
                <a th:href="${team.getWebPage()}"><span th:text="${team.getWebPage()}"/></a>
            </td>
            <td>
                <a th:href="${team.getFacebook()}"><span th:text="${team.getFacebook()}"/></a>
            </td>
            <td>
                <a th:href="@{'/teams/currentteam/' + ${team.getId()}}">Zespół</a>
            </td>
        </tr>
    </table>
</div>



<!--<div>-->
<!--    <table class="table table-hover tableData" >-->
<!--        <tr>-->
<!--            <th>Nazwa zespolu</th>-->
<!--            <th>Pierwszy trener</th>-->
<!--            <th>Drugi trener</th>-->

<!--        </tr>-->

<!--        <tr th:each="team : ${teams}">-->
<!--            <td th:text="${team.getTeamName()}"></td>-->
<!--            <td th:text="${team.getFirstCoach()}"></td>-->
<!--            <td th:text="${team.getSecondCoach()}"></td>-->
<!--        </tr>-->
<!--    </table>-->

<!--</div>-->


<footer th:replace="layouts/MainLayout :: footer"/>


</body>
</html>