body {
    margin-bottom: 5%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.navbar {
    background-color: #e3f2fd;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
}

.navbar-brand{
    margin-left: 15%;
}

.navbar-nav {
    margin-right: 25%;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
}

#contact {
    text-align: center;
}

.centeredText {
    text-align: center;
}

#roundTable {
    position: relative;
    padding-bottom: 2.5rem;
    margin-top: 3%;
}

#selectedteamTable{
    margin-top: 3%;
    position: relative;
    padding-bottom: 2.5rem;
}

.tableData {
    font-size: medium;
}

.teamButton{
    margin-left: 25%
}

#teamTable {
    margin-top: 5%;
    position: relative;
    padding-bottom: 2.5rem;
}

#rankTable {
    margin-top: 3%;
    position: relative;
    padding-bottom: 2.5rem;
}

#leagueTable {
    margin-top: 5%;
    position: relative;
    padding-bottom: 2.5rem;
}

#homeTeamStats{
    position: relative;
    padding-bottom: 2.5rem;
    margin-left: 17%;
    margin-top: 1%;
    font-size: small;
}

#awayTeamStats{
    position: relative;
    padding-bottom: 2.5rem;
    margin-left: 17%;
    margin-top: 1%;
    font-size: small;
}

#matchInfo{
    margin-top: 3%;
    margin-bottom: 2%;
}

#matchResult{
    margin-top: 7%;
    margin-bottom: 2%;
    margin-left: 35%;
}

#uploadMessage {
    text-align: center;
    font-size: medium;
    color: blue;
}

#scoutFilePathMessage {
    text-align: center;
    font-size: medium;
    color: blue;
}

#roundHeader {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1%;
}

#teamInfo {
    margin-top: 3%;
    position: relative;
}

#selectForRankSort {
    width: 200px;

}

#containerForSelectRank {
    margin-left: 44%;
    margin-top: 3%;
}

.leftAlignedText {
    text-align: left;
}

.indexNumber {
    font-weight: bold;
}

.matchScore {
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 40px;
}

.matchInfo{
    text-align: center;
}

#saveButton {
    width: 200px;
}

#saveResultButton {
    width: 200px;
}

#inRoundResult {
    font-weight: bold;
    color: red;
    font-size: 24px;
}

.setScore {
    font-size: 18px;
    color: orangered;
    text-align: center;
}
