body {
    margin-bottom: 5%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.navbar {
    background-color: #e3f2fd;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
}

.navbar-brand{
    margin-left: 15%;
}

.navbar-nav {
    margin-right: 25%;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
}

#contact {
    text-align: center;
}

.centeredText {
    text-align: center;
}

#roundTable {
    position: relative;
    padding-bottom: 2.5rem;
    margin-top: 3%;
}

#selectedteamTable{
    margin-top: 3%;
    position: relative;
    padding-bottom: 2.5rem;
}

.tableData {
    font-size: medium;
}

.teamButton{
    margin-left: 25%
}

#teamTable {
    margin-top: 3%;
    position: relative;
    padding-bottom: 2.5rem;
}

#homeTeamStats{
    position: relative;
    margin-left: 5%;
    padding-bottom: 2.5rem;
    margin-top: 1%;
    font-size: small;
}

#awayTeamStats{
    position: relative;
    margin-left: 5%;
    padding-bottom: 2.5rem;
    margin-top: 1%;
    font-size: small;
}

#matchInfo{
    margin-top: 3%;
    margin-bottom: 2%;
}

#uploadMessage {
    text-align: center;
    font-size: medium;
    color: lawngreen;
}

#roundHeader {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1%;
}
