<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/MainLayout :: head(title = 'Utwórz artykul')"/>

<body>

<nav th:replace="layouts/AdministrationLayout :: navbar"/>



<div class="container" id="containerForAddingNews">


<form method="POST" action="/admin/create-article" class="newElementForm mainFont" th:object="${newArticle}">

    <div class="form-group text-center newsInputContainer">
        <label for="newsTitle" class="newsInput">Tytuł artykułu : </label>
        <br/>
        <input type="text" class="form-control centeredInput" name="title" id="newsTitle">
        <br/>
    </div>
    <div class="form-group text-center newsInput">
        <label for="content" class="newsInput">Treść artykułu :</label>
        <br/>
        <textarea class="form-control centeredInput" rows="15" name="content" id="content" ></textarea>
    </div>

    <div class="text-center" style="margin-top: 15px">
        <button type="submit" class="btn btn-primary">Utwórz</button>
    </div>

</form>

</div>

<footer th:replace="layouts/AdministrationLayout :: footer"/>

</body>
</html>